@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark-green: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

body {
	font-family: "Montserrat", "Fraunces", sans-serif;

	scroll-behavior: smooth;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--cream);

	/* border: 10px solid olivedrab; */
}

.product-card {
	display: flex;
	flex-direction: column;
	width: 350px;
	background-color: var(--white);
	border-radius: 10px;
	overflow: hidden;

	/* outline: 2px solid goldenrod; */
}

.product-image {
	content: url(images/image-product-mobile.jpg);
	width: 100%;

	/* border: 2px solid firebrick; */
}

/* a container that holds all the text information */
.product-description {
	margin: 30px;

	/* outline: 2px solid rebeccapurple; */
}

/* h3 {
	color: var(--dark-grayish-blue);

	outline: 2px solid lightcoral;
} */

.heading-txt {
	color: var(--very-dark-blue);
	font-family: Fraunces;
	font-size: 1.9rem;
	font-weight: 700;
	margin-top: 1.25rem;

	/* outline: 4px solid lightseagreen; */
}

p {
	font-size: 0.875rem;
	color: var(--dark-grayish-blue);

	/* outline: 2px solid goldenrod; */
}

p.perfume-txt {
	text-transform: uppercase;
	font-size: 0.875rem;
	letter-spacing: 0.3125rem;
	font-weight: 500;

	/* outline: 1px solid lime; */
}

p.paragraph-txt {
	margin-top: 1.5625rem;
	line-height: 1.5;
	font-size: 0.875rem;
	font-weight: 500;
	color: var(--dark-grayish-blue);

	/* outline: 1px solid hotpink; */
}

.price-container {
	margin-top: 20px;
	display: flex;
	align-items: center;
	gap: 20px;

	/* outline: 2px solid firebrick; */
}

.new-price {
	font-family: "Fraunces", serif;
	font-size: 2rem;
	font-weight: 700;
	color: var(--dark-green);

	/* outline: 2px solid saddlebrown; */
}

.original-price {
	font-family: "Montserrat", sans-serif;
	/* font-size: 1rem; */
	font-size: 0.875rem;
	font-weight: 500;
	color: var(--dark-grayish-blue);
	text-decoration: line-through;

	/* outline: 2px solid deepskyblue; */
}

.btn-dark-green {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1em;
	cursor: pointer;
	margin-top: 20px;
	color: white;
	letter-spacing: 0.2px;
	border: none;
	background-color: var(--dark-green);
	/* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */

	border-radius: 10px;
	font-weight: 700;
	font-size: 1rem;

	/* outline: 2px solid lightcoral; */
}

.btn-dark-green:hover {
	transform: scale(0.99);
	transition: 0.7s;
	/* opacity: 0.9; */
	background-color: rgba(1, 71, 71, 0.97);
}

.shopping-cart-icon {
	margin-right: 12px;
	transform: scale(120%);

	/* outline: 2px solid goldenrod; */
}

/* ************************* */
/* ****** Media query ****** */
/* ************************* */

@media screen and (min-width: 750px) {
	.product-card {
		flex-direction: row;
		align-items: center;
		width: 600px;

		/* iPad Mini 768 x 1024 */

		/* outline: 5px solid lime; */
	}

	.product-image {
		width: 50%;
		content: url(images/image-product-desktop.jpg);

		/* outline: 4px solid cadetblue; */
	}
}
